<p>
Hi {{user}}
</p>

<h3>Welcome Food Area</h3>

   <div class="container">
     <div class="row">
       <div class="col-sm-4">
         <div routerLink="/createGroup" class="panel panel-primary">
           <div class="panel-heading">New Lunch Group</div>
           <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
           <div class="panel-footer">Create your own lunch group and get people in it</div>
         </div>
       </div>
       <div class="col-sm-4">
         <div routerLink="/joinGroup" class="panel panel-danger">
           <div class="panel-heading">Join A lunch Group</div>
           <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
           <div class="panel-footer">Join Existing lunch group and have fun</div>
         </div>
       </div>
       <div class="col-sm-4">
         <div class="panel panel-success">
           <div class="panel-heading">Explore Cafeteria</div>
           <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
           <div class="panel-footer">Know more about cafe and vendors</div>
         </div>
       </div>
     </div>
   </div><br>

   <div class="container">
     <div class="row">
       <div class="col-sm-4">
         <div class="panel panel-primary">
           <div class="panel-heading">Invite people to your group</div>
           <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
           <div class="panel-footer">Invite specific people to your team</div>
         </div>
       </div>
       <div class="col-sm-4">
         <div class="panel panel-primary">
           <div class="panel-heading">Feedback on lunch group site</div>
           <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
           <div class="panel-footer">give your feedback on our site</div>
         </div>
       </div>
       <div class="col-sm-4">
         <div class="panel panel-primary">
           <div class="panel-heading">Connect with your team</div>
           <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
           <div class="panel-footer">Communicate with your team</div>
         </div>
       </div>
     </div>
   </div>

